extends _mainLayout.pug

block vars
	- var title = "SUPAGE"

block content
	.container
		h1 Sup sup sup sup sup
		h3 dup dup dup dup dup dup dup dup dup dup dup dup dup dup dup dup dup dup dup dup dup dup dup dup dup dup dup dup dup dup dup dup dup dup dup dup dup dup dup dup dup dup dup dup dup dup dup dup dup dup dup dup dup dup dup dup dup dup dup dup dup dup dup dup
