doctype html
html
	head
		title="Nilson Furquim da Silva"
		link(rel="stylesheet" href="lib/materialize.css")
		link(rel="stylesheet" href="lib/mdi/material-icons.css")
	body
		nav
			div.nav-wrapper
				a(href="#!").brand-logo Logo
					i.material-icons cloud
				a(href="#" data-activates="mobile-demo").button-collapse
					i.material-icons menu
				ul.right.hide-on-med-and-down
					li
						a Story
					li
						a Curriculum
					li
						a Ideas
				ul.side-nav#mobile-demo
					li
						a Story
					li
						a Curriculum
					li
						a Ideas
		h1 Hello World
		script(src="lib/jquery.js")
		script(src="lib/materialize.js")
		script(src="js/initial.js")
